.m-1 {
  margin: 1rem; }

.my-1 {
  margin: 1rem 0; }

.p-1 {
  padding: 1rem; }

.py-1 {
  padding: 1rem 0; }

.m-2 {
  margin: 2rem; }

.my-2 {
  margin: 2rem 0; }

.p-2 {
  padding: 2rem; }

.py-2 {
  padding: 2rem 0; }

.m-3 {
  margin: 3rem; }

.my-3 {
  margin: 3rem 0; }

.p-3 {
  padding: 3rem; }

.py-3 {
  padding: 3rem 0; }

.m-4 {
  margin: 4rem; }

.my-4 {
  margin: 4rem 0; }

.p-4 {
  padding: 4rem; }

.py-4 {
  padding: 4rem 0; }

.m-5 {
  margin: 5rem; }

.my-5 {
  margin: 5rem 0; }

.p-5 {
  padding: 5rem; }

.py-5 {
  padding: 5rem 0; }

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem; }

.x-large {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.large {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1rem; }

.lead {
  font-size: 1.5rem;
  margin-bottom: 1rem; }

.text-primary {
  color: #17a2b8; }

.round-img {
  border-radius: 50%; }

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0; }

.bg-primary {
  background-color: #17a2b8;
  color: #fff; }

.bg-light {
  background-color: #f4f4f4;
  color: #333;
  border: 1px #ccc solid; }

.bg-dark {
  background-color: #343a40;
  color: #fff; }

.bg-success {
  background-color: green;
  color: #fff; }

.bg-danger {
  background-color: rgba(226, 37, 37, 0.973);
  color: #fff; }

.bg-white {
  background-color: #fff;
  color: #333;
  border: 1px #ccc solid; }

.btn {
  display: inline-block;
  background: #f4f4f4;
  color: #333;
  padding: 0.4rem 1.3rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin-right: 0.5rem;
  outline: none;
  transition: all 0.2s ease-in; }
  .btn.btn-primary {
    background-color: #17a2b8;
    color: #fff; }
    .btn.btn-primary:hover {
      background: #1ab6cf; }
  .btn.btn-dark {
    background-color: #343a40;
    color: #fff; }
    .btn.btn-dark:hover {
      background: #3f474e; }
  .btn.btn-success {
    background-color: green;
    color: #fff; }
    .btn.btn-success:hover {
      background: #009a00; }
  .btn.btn-danger {
    background-color: rgba(226, 37, 37, 0.973);
    color: #fff; }
    .btn.btn-danger:hover {
      background: rgba(229, 60, 60, 0.973); }
  .btn:hover {
    background: #3f474e;
    color: #fff; }

.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: #f4f4f4;
  color: #333; }
  .badge.badge-primary {
    background-color: #17a2b8;
    color: #fff; }
  .badge.badge-dark {
    background-color: #343a40;
    color: #fff; }
  .badge.badge-success {
    background-color: green;
    color: #fff; }
  .badge.badge-danger {
    background-color: rgba(226, 37, 37, 0.973);
    color: #fff; }

.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: #f4f4f4;
  color: #333; }
  .alert.alert-primary {
    background-color: #17a2b8;
    color: #fff; }
  .alert.alert-dark {
    background-color: #343a40;
    color: #fff; }
  .alert.alert-success {
    background-color: green;
    color: #fff; }
  .alert.alert-danger {
    background-color: rgba(226, 37, 37, 0.973);
    color: #fff; }

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.table th, .table td {
  padding: 1rem;
  text-align: left; }

.table th {
  background: #f4f4f4; }

.form-group {
  margin: 1.2rem 0; }

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888; }

.form input[type='text'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date']
select,
.form textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc; }

.form input[type='submit'] {
  font: inherit; }

.form .social-input {
  display: flex; }
  .form .social-input i {
    padding: 0.5rem;
    width: 4rem; }
    .form .social-input i.fa-twitter {
      color: #38a1f3; }
    .form .social-input i.fa-facebook {
      color: #3b5998; }
    .form .social-input i.fa-instagram {
      color: #3f729b; }
    .form .social-input i.fa-youtube {
      color: #c4302b; }
    .form .social-input i.fa-linkendin {
      color: #0077b5; }

.post-form-header {
  padding: 0.5rem; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333; }

a {
  text-decoration: none;
  color: #17a2b8; }

ul {
  list-style: none; }

img {
  width: 100%; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px #17a2b8;
  opacity: 0.9; }
  .navbar ul {
    display: flex; }
  .navbar a {
    color: #fff;
    padding: 0.45rem;
    margin: 0 0.25rem; }
    .navbar a:hover {
      color: #17a2b8; }

.landing {
  position: relative;
  background: url("../img/showcase.jpg") no-repeat center center/cover;
  height: 100vh; }
  .landing-inner {
    color: #fff;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
    text-align: center; }

.profile {
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 1rem;
  line-height: 1.8;
  margin-bottom: 1rem; }

.profile-grid {
  display: grid;
  grid-template-areas: 'top top' 'about about' 'exp edu' 'bitbucket bitbucket';
  grid-gap: 1rem; }
  .profile-grid .profile-top {
    grid-area: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; }
    .profile-grid .profile-top img {
      width: 250px; }
    .profile-grid .profile-top .icons a {
      color: #fff;
      margin: 0 0.3rem; }
      .profile-grid .profile-top .icons a:hover {
        color: #343a40; }
  .profile-grid .profile-about {
    grid-area: about;
    text-align: center; }
    .profile-grid .profile-about .skills {
      display: flex;
      justify-content: center;
      align-items: center; }
  .profile-grid .profile-exp {
    grid-area: exp; }
  .profile-grid .profile-edu {
    grid-area: edu; }
  .profile-grid .profile-exp > div,
  .profile-grid .profile-edu > div {
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px dotted #ccc; }
  .profile-grid .profile-exp:last-child,
  .profile-grid .profile-edu:last-child {
    border: none; }
  .profile-grid .profile-exp p,
  .profile-grid .profile-edu p {
    margin: 0.5rem 0; }
  .profile-grid .profile-bitbucket {
    grid-area: bitbucket; }
    .profile-grid .profile-bitbucket .repo {
      display: flex; }
      .profile-grid .profile-bitbucket .repo > div:first-child {
        flex: 7;
        flex-basis: 70%; }
      .profile-grid .profile-bitbucket .repo > div:last-child {
        flex: 3;
        flex-basis: 20%; }
