$primary-color: #17a2b8;
$dark-color: #343a40;
$light-color: #f4f4f4;
$danger-color: rgba(226, 37, 37, 0.973);
$success-color: green;
$max-width: 1100px;

//Set text color based on background's color
@function set-text-color($color){
    @if(lightness($color) > 60){
        @return #333;
    } @else{
        @return #fff;
    }
}

//Set background & text color using @mixin
@mixin set-background($color)
{
    background-color: $color;
    color: set-text-color($color);
}

//Margin & Padding
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts{
    //All around margin
    .m-#{$space}{
        margin: #{$space}rem;
    }

    //Vertical Margin
    .my-#{$space}{
        margin: #{$space}rem 0;
    }
     
    //All around Padding
     .p-#{$space}{
        padding: #{$space}rem;
    }

    //Vertical Padding
    .py-#{$space}{
        padding: #{$space}rem 0;
    }
}