@import 'config';
@import 'utilities';
@import 'form';
@import 'posts';

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #fff;
    color: #333;
}

a{
    text-decoration: none;
    color: $primary-color;
}

ul{
    list-style: none;
}

img{
    width: 100%;
}

//Navbar
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.7rem 2rem;
    position: fixed;
    z-index: 1;
    width: 100%;
    top: 0;
    border-bottom: solid 1px $primary-color;
    opacity: 0.9;

    ul{
        display: flex;
    }
    
    a{
        color: #fff;
        padding: 0.45rem;
        margin: 0 0.25rem;
        
        &:hover{
            color: $primary-color;
        }
    }
}

//Landing
.landing{
    position: relative;
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    height: 100vh;
    
    &-inner{
        color: #fff;
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}

//Profiles Page
.profile{
    display: grid;
    grid-template-columns: 2fr 8fr 2fr;
    grid-gap: 2rem;
    align-items: center;
    padding: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

//Profile Page
.profile-grid{
    display: grid;
    grid-template-areas: 
        'top top' 'about about' 'exp edu'
        'bitbucket bitbucket';
    grid-gap: 1rem;
    
    .profile-top{
        grid-area: top;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        img{
            width: 250px;
        }

        .icons a{
            color: #fff;
            margin: 0 0.3rem;

            &:hover{
                color: $dark-color;
            }
        }
    }

    .profile-about{
        grid-area: about;
        text-align: center;

        .skills{
            display:flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .profile-exp{
        grid-area: exp;
    }
    
    .profile-edu{
        grid-area: edu;
    }
    
    .profile-exp,
    .profile-edu{
        
        & > div{
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px dotted #ccc; 
        }

        &:last-child{
            border: none;
        }

        p{
            margin: 0.5rem 0;
        }
    }

    .profile-bitbucket{
        grid-area: bitbucket;

        .repo{
            display: flex;

            & > div:first-child{
                flex: 7;
                flex-basis: 70%;
            }

            & > div:last-child{
                flex: 3;
                flex-basis: 20%;
            }
        }
    }
}
